
<div class="py-5 border-top footer">
  <div class="container">

    <h2>Rue du Trésor 9, 2000 Neuchâtel</h2>

    <div class="row">

      <div class="col-lg-6">
        <img src="/assets/images/footer.jpg" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-lg-6">
        <div class="embed-responsive">
          <iframe
            class="embed-responsive-item"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBoc243qc5cWZG7KIXRj-0Wwt6tzkoIGVI&q=place_id:ChIJW7_0mREKjkcRnd7wfaLbxa0" allowfullscreen>
          </iframe>
        </div>
      </div>

    </div>

  </div>
</div>
