
<div class="py-5 border-top footer">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <h2>Rue du Trésor 9, 2000 Neuchâtel</h2>
        <img src="/assets/images/footer.jpg" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-sm">
        <iframe frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBoc243qc5cWZG7KIXRj-0Wwt6tzkoIGVI&q=Tresor+9,Neuchâtel" allowfullscreen>
        </iframe>
      </div>

    </div>

  </div>
</div>
